*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}


body{

background:#f4f7fb;
color:#333;

}


header{

background:#0b2d4d;
padding:20px 10%;
position:sticky;
top:0;

}


nav{

display:flex;
justify-content:space-between;
align-items:center;

}


.logo{

color:white;

}


nav ul{

display:flex;
list-style:none;

}


nav ul li{

margin-left:25px;

}


nav a{

color:white;
text-decoration:none;

}


.menu-icon{

display:none;
color:white;
font-size:25px;

}





.hero{

display:flex;
justify-content:center;
align-items:center;
gap:50px;
padding:100px 10%;

}



.hero h1{

font-size:45px;
color:#0b2d4d;

}


.hero h2{

color:#0077cc;

}


.hero p{

margin:20px 0;
font-size:18px;

}



.btn{

background:#0077cc;
color:white;
padding:12px 25px;
border-radius:25px;
text-decoration:none;

}



.profile img{

width:260px;
height:260px;
border-radius:50%;
object-fit:cover;

}




section{

padding:70px 10%;

}



.heading{

text-align:center;
font-size:35px;
margin-bottom:30px;
color:#0b2d4d;

}




.timeline,
.cards,
.skills{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}



.box,
.card,
.skills div{

background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px #ddd;
width:300px;

}



.skills div{

width:150px;
text-align:center;

}


.skills i{

font-size:35px;
color:#0077cc;

}





form{

max-width:500px;
margin:auto;

}


input,
textarea{

width:100%;
padding:15px;
margin:10px;
border-radius:10px;
border:1px solid #ddd;

}


textarea{

height:150px;

}



button{

background:#0077cc;
color:white;
border:0;
padding:15px 30px;
border-radius:25px;

}



.social{

text-align:center;
margin-top:30px;

}


.social i{

font-size:30px;
margin:15px;
color:#0077cc;

}



footer{

background:#0b2d4d;
color:white;
text-align:center;
padding:20px;

}




@media(max-width:768px){


.hero{

flex-direction:column;

}


nav ul{

display:none;
flex-direction:column;

}


.menu-icon{

display:block;

}


}
